@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  /* Color styles */
  --white: rgba(255, 255, 255, 1);
  --black: rgba(34, 34, 34, 1);
  --accent: rgba(234, 53, 43, 1);
  --action: rgba(52, 117, 243, 1);
  --gray--100: rgba(238, 238, 238, 1);
  --gray--200: rgba(212, 212, 212, 1);
  --gray--300: rgba(144, 144, 144, 1);
  --gray--400: rgba(97, 97, 97, 1);
  --yellow: rgba(255, 248, 211, 1);

  /* Text-size styles */
  /* base size: body-large-regular (16px) */
  --logo: 1.5rem;
  --h1: 1.5rem;
  --h2: 1.12rem;
  --body-large: 1rem;
  --body: 0.88rem;

  /* Effect styles */
  --shadow:  0px 2px 8px rgba(0, 0, 0, 0.12);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: var(--h1);
  font-weight: 800;
}
h2{
  font-size: var(--h2);
  font-weight: 800;
}

p{
  font-size: var(--body);
}

.body-large{
  font-size: var(--body-large);
}

.dot{
  width: 4px;
  height: 4px;
  background-color: var(--gray--200);
  border-radius: 100%;
}

.card{
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 12px 0;
  align-items: center;
  width: 100%;
}
.card__left{
  flex-grow: 2;
}

.card__title{
  font-size: var(--body-large-bold);
  font-weight: 800;
  margin-bottom: 4px;
}

.card__metadata{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 12px;

}

.card__image{
  background-color: var(--gray--200);
  border-radius: 8px;
  max-width: 30%;
}

.card__date{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

/* exclude button #searchbutton */
button:not(#searchbutton, .chip){
  font-size: var(--body-large);
  font-weight: 800;
  padding: 8px;
  background-color: var(--action);
  color: var(--white);
  border-radius: 8px;
}

.regular{
  font-weight: 400;
}

.bold{
  font-weight: 800;
}

.header{
  position: fixed;
  background-color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid var(--gray--200);
  height: 68px;
  z-index: 1000;
  padding: 24px;
  top: 0;
}

.header__left{
  flex-grow: 1;
}
.header__profile{
  width: 32px;
  height: 32px;
  background-color: var(--yellow);
  text-align: center;
  line-height: 32px;
  border-radius: 100%;
}

.header__right{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.divider{
  height: 24px;
  width: 1px;
  background-color: var(--gray--200);
}

.marker{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.marker__chip{
  padding: 8px 12px;
  border: 1px solid var(--gray--200);
  border-radius: 32px;
  box-shadow: var(--shadow);
}

.sidebar{
  height: 100%;
  width: 440px; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: var(--white); 
  overflow-x: hidden;
  padding: 24px;
  overflow-y: scroll;
  padding-top: 88px;

}

.search {
  padding: 16px;
  border: 1px solid var(--gray--200);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.search__input{
  flex-grow: 1;
}

.sidebar__results{
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chip {
  display: flex;
  flex-direction: row;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid var(--gray--200);
  align-items: center;
  gap: 4px;
}

.categories{
  display: flex;
  flex-direction: row;
  gap: 12px;
  overflow-x: scroll;
}

.marker__text{
  width: 60px;
   background-color: var(--white);
  text-align: center;
  border: none;
  box-shadow: none;
}

.active{
  background-color: var(--gray--100);
}