.popup-content {
    width: 45%;
    border-radius: 12px;
    padding-block: 1rem;
}
.popup-content :not(label) {
    padding: 0.25rem;
    border-radius: 8px;
}

#originalPrice, #discount {
  border: 1px solid var(--gray--200);
}